input[name='login']
{
    margin-left: 22px;
}

.errorlist{
    color: red;
}

input[name='email']
{
    margin-left: 94px;
}

input[name='password1']
{
    margin-left: 70px;
}

input[name='password2']
{
    margin-left: 10px;
}