SECRET_KEY="{{SECRET_KEY}}"

DEBUG=True

ALLOWED_HOSTS="localhost, 127.0.0.1"


DEFAULT_FROM_EMAIL='Coin Prompt <rohitsdec4@gmail.com>'
DEFAULT_REPLY_TO_EMAIL='rohitsdec4@gmail.com'
EMAIL_VAULT='rohitsdec4@gmail.com'
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_HOST=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''


DB_ENGINE="{{DB_ENGINE}}"
DB_NAME="{{DB_NAME}}"
DB_USER="{{DB_USER}}"
DB_PASSWORD="{{DB_PASSWORD}}"W"
DB_HOST="{{DB_HOST}}"
DB_PORT=5432