{% extends "include/base.html" %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <form id="client_profile">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input class="form-control" type="text" name="first_name" value="{{request.user.first_name}}">
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input class="form-control" type="text" name="last_name" value="{{request.user.last_name}}">
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input class="form-control" value="{{ request.user.email }}" type="email" name="email" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input class="form-control" type="number" name="phone" min="1000000000" max="9999999999" value="{{request.user.phone}}">
                </div>
            </div>
            <br /><br />
            <!-- Feature to add multiple addresses -->
            <div class="section-title">
                <h4>Address</h4>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Country</label>
                    <input class="form-control" type="text" name="country" value="India" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label>State</label>
                    <select class='form-control' name="state">
                        <option value=''>Choose State--</option>
                        {% for code,state in states.items %}
                            <option value='{{code}}'>{{state}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>City</label>
                    <input class="form-control" type="text" name="city" >
                </div>
                <div class="form-group col-md-6">
                    <label>Street Address</label>
                    <input class="form-control" type="text" name="raw" >
                </div>
                <div class="form-group col-md-6">
                    <label>Pin</label>
                    <input class="form-control" type="number" name="postal_code" >
                </div>
            </div>
            <br/><br/>
            <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</section>
<hr>
{% endblock %}
