{% extends "include/base.html" %}

{% block content %}
<section class="ftco-section">
    <div class="container">
        <form id="client_profile">
            <div class="row">
                <div class="form-group col-md-6">
                    <label>First Name</label>
                    <input class="form-control" type="text" name="name" >
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input class="form-control" type="text" name="father_name" >
                </div>
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input class="form-control" value="{{ request.user.email }}" type="email" name="email" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label>Date of Birth</label>
                    <input class="form-control" type="date" name="date_of_birth" >
                </div>
            </div>
            <br /><br />
            <div class="section-title">
                <h4>Address</h4>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Country</label>
                    <input class="form-control" type="text" name="country" value="India" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label>State</label>
                    <select class='form-control' name="state">
                        <option value=''>Choose State--</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>City</label>
                    <input class="form-control" type="text" name="city" >
                </div>
                <div class="form-group col-md-6">
                    <label>Street Address</label>
                    <input class="form-control" type="text" name="raw" >
                </div>
                <div class="form-group col-md-6">
                    <label>Pin</label>
                    <input class="form-control" type="number" name="postal_code" >
                </div>
            </div>
            <br/><br/>
            <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn btn-primary submitBtn">Update</button>
            </div>
        </form>
    </div>
</section>
<hr>
{% endblock %}